.App-header {
  background-color: #111111;
  opacity: 1;
  background-image:  linear-gradient(135deg, #222222 25%, transparent 25%), linear-gradient(225deg, #222222 25%, transparent 25%), linear-gradient(45deg, #222222 25%, transparent 25%), linear-gradient(315deg, #222222 25%, #111111 25%);
  background-position:  4px 0, 4px 0, 0 0, 0 0;
  background-size: 4px 4px;
  background-repeat: repeat;
  min-height: 100vh;  
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
}

.App-form{
  width: 330px;
  height: 380px;
  border-radius: 15px;
  box-shadow: rgb(150, 150, 255) 0px 0px 250px;
  border: #0f0f0f 2px solid;
  padding: 18px;
  background-color: rgb(31, 31, 141);
}

form{
  align-items: center;
  display: flex;
  flex-direction: column;  
}

#App-email, #App-password{
  margin: 6px;
}

h1, h3{
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Dancing Script', cursive;
}

label {
  padding: 6px;
  text-align: center;
  font-weight: lighter;
  color: white;
}

input{
  color: #888;
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  height: 40px;
  border-radius: 12px;
}

#button{
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  width: 80px;
}